/* logo */
.logo{
    font-size: 3rem;
    text-align: center;
    color: whitesmoke;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: left;
    font-size: 2rem;
}

.logout{
    margin-left: auto;
    font-size: 2rem;
}

.content{
    margin-top: 100px;
    overflow: scroll;
    font-size: 2rem;
    margin-bottom: 100px;
}

.product-cell{
    display: inline-block;
    width: 320px;
    height: 480px;
    padding-left: 20px;
    padding-right: 20px;
}

.product-img{
    display: block;
    position: relative;
    height: 320px;
    border:2px solid black;
    overflow: hidden;
}

.product-info{
    display: block;
    font-size: 1.5rem;
    color: black;
}

.product-align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
