.navbar{
    display: flex;
    list-style: none;
    justify-content: left;
    font-size: 2rem;
}

.logout{
    margin-left: auto;
    font-size: 2rem;
}

.header{
    width: 720px;
    height: 140px;
    background-color: #fbfbfb;
    z-index: 1000;
    font-family: 'title';
}

.header-line1{
    display: flex;
    height: 62px;
    margin-top: 10px;
}

.header-line2{
    display: flex;
    height: 72px;
}

.logo{
    height: 50%;
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.social{
    display: flex;
    margin-left: auto;
    width: 360px;
    justify-content: right;
}

.social-icon{
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.nav-links{
    display: flex;
    margin-left: 20px;
}

.nav-item{
    color: #0b0b0b;
    font-size: xx-large;
    margin-left: 20px;
    margin-right: 20px;
}
